@import 'tailwindcss';

@utility container {
    margin-inline: auto;
    padding-inline: 16px;
}

@custom-variant dark (&:where(.dark, .dark *));

button {
    cursor: pointer;
}

@utility animation-slide {
    background-position-y: center;
    animation: slide 30s linear infinite alternate;
}
@keyframes slide {
    from {
        background-position-x: 0%;
    }
    to {
        background-position-x: 100%;
    }
}
